:root {
	--main-bg: #EAF4F8;
	--pri-color: #FD8158;
	--sec-color: #3c3a3a;
	--body-text: #7e7777;
	--heading-text: #3c3a3a;
}
body {
	background: var(--main-bg);
	font-size: 14px;
	font-family: Sofia Pro;
	/* color: var(--body-text); */
	/* font-weight: 300; */
}

/* first-top nav starts here */

.top-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1f1f22;
	padding-left: 511px;
	height: 75px;
	/* font-size: 14px; */
}

.logo_category li{
    margin-left: -300px;
}

.top-nav li {
	float: left;
}

.top-nav li a {
	display: block;
	color: #fffcf8; /* or color white */
	text-align: center;
	padding: 33px 16px;
	text-decoration: none;
	font-weight: bold;
}

.top-nav li img {
	padding: 10%;
	padding-top: 38px;
}

.top-nav li a:hover {
	background-color: var(--pri-color);
}

.top-nav .login {
	float: right;
	padding-right: 100px;
}

/* first-top nav ends here */

/* herobox starts here */
.herobox {
    background-color: #F0E7D9;
    height: 500px;
    /* width: 85.5%; */
    /* margin-left: 103px; */
    border-radius: 10px;
    margin-top: 30px;
}

.hero-text {
    font-size: 50px;
    padding-left: 100px;
    padding-top: 100px;
    font-weight: bold;
    letter-spacing: 2px;
}

.hero-text- {
    font-size: 50px;
    padding-left: 100px;
    letter-spacing: 2px;
}

/* herobox ends here */

/* search box starts here */


.searchbox .search-container {
    float: left;
    margin-top: 30px;
    padding-left: 100px;
}

.searchbox input[type=text] {
	/* padding: 6px; */
	margin-top: 8px;
	font-size: 16px;
	border: none;
	border-radius: 30px;
	background: #ffffff;
	width: 552px;
	height: 50px;
	
	background-image: url('./../../assets/images/search.png');
	background-repeat: no-repeat;
	background-position: 25px;
	background-size: 20px;
	padding: 12px 0px 12px 60px;
	position: relative;
}


::placeholder {
	color: #241E1E;
	opacity: 1; /* Firefox */
	letter-spacing: 2px;
	/* padding-left: 10%; */
	padding: 12px 20px 12px 10px;
}



@media screen and (max-width: 600px) {
	.searchbox .search-container {
		float: none;
	}
	.searchbox a,
	.searchbox input[type=text],
	.searchbox .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.searchbox input[type=text] {
		border: 1px solid #ccc;
	}
}


/* search box ends here */

/* hero girl starts here */

.hero-girl {
    float: right;
    margin-right: -120px;
    margin-top: -160px;
}

.hero-girl img{
    width: 80%;
  height: 100%;
}

/* category starts here */

/* Create three equal columns that floats next to each other */
.container-div {
	height: auto;
	width: 90%;
	margin-top: 40px;
	/* position: absolute;  */
	/* second absolute here This is used to starck the next div or container below*/
	margin-left: 103px;
	/* background-color: red; */
}

.category-box {
	float: left;
	width: 20%;
	/* padding: 10px; */
	/* margin-right: 15px; */
	background-color: white;
	margin: 0px 15px 0px 15px;
	/* position: absolute; */
	height: auto; /* you can add 300px */
	border-radius: 7px;
	/* background-color: red; */
	margin-bottom: 33px;
}

.category-list :link {
	text-decoration: none;
}
.category-list li:hover {
	color: var(--pri-color);
}

.hero-box {
	float: left;
	width: 60%;
	padding: 10px;
	/* background-size: 300px; */
	/* padding-top: 100px; */
	background-color: #aaa;
	margin: 0px 35px 0px 15px;
	margin-left: 3px;
	/* position: absolute; */
	height: 412px; /* Should be removed. Only for demonstration */
	border-radius: 7px;
}

.contact-us-box {
	float: left;
	width: 32%;
	padding: 15px;
	font-weight: bold;
	font-size: 16px;
	background-color: white;
	/* margin-left: -9px; */
	margin: 0px 0px 15px;
	/* position: absolute; */
	height: 200px; /* Should be removed. Only for demonstration */
	border-radius: 7px;
}

/* .contact-us-box category-list li {
    margin: 15px;
} */

.app-box {
	float: right;
	width: 32%;
	padding: 20px;
	/* margin-top: 5px; */
	margin-right: 65px;
	/* padding-top: 100px; */
	background-color: white;
	/* position: relative; */
	border-radius: 7px;
	height: 197px; /* Should be removed. Only for demonstration */
}

.app-box h5 {
	text-align: center;
}

.app-box h6 {
	text-align: center;
}

.app-box img{
	width: 100px;
}

/* category ends here */


.category-two {
	float: left;
	/* position: relative; */
	width: 17px;
	margin: -15px;
	vertical-align: middle;
	margin-right: 10px;
	padding-top: 10px;
	margin-left: -20px;
}

.category-three {
	float: left;
	/* position: relative; */
	width: 23px;
	margin: -15px;
	vertical-align: middle;
	margin-right: 10px;
	padding-top: 13px;
	margin-left: -22px;
}

.category-four {
	width: 90px;
	margin: 17px;
	vertical-align: middle;
	padding-top: 15px;
	/* margin-right: 19px; */
	margin-inline-end: -10px;
	margin-inline-start: 55px;
}
/* Properties for icons in categrory ENDS here */

/* footer starts here */
.footer_main{
	background-color:#1F1F22;
	color: #fffcf8;
}
.footer_ {
	margin-left: 103px;
	margin-top: 40%;
}

.footer ul {
    padding: 0;
    list-style-type: none;
}

.footer a{
	color: inherit;
}

.column {
	float: left;
	padding: 5px;
	width: 20%;
  }
  
  /* Clear floats after image containers */
  .row{
	margin-left: 0px;
  }
/* footer ends here */